^\.travis\.yml$
src/itki/
src/itks/
src/itkb/
src/*.o
src/*.so
src/symbols.rds
src/itk/Modules/Compatibility/Compatibility.tar
src/itk/Modules/Compatibility/Deprecated/
src/itk/Modules/Compatibility/README
src/itk/Modules/Compatibility/V3Compatibility/
src/itk/Modules/Core/Common/
src/itk/Modules/Core/FiniteDifference/
src/itk/Modules/Core/GPUCommon/
src/itk/Modules/Core/GPUFiniteDifference/
src/itk/Modules/Core/ImageAdaptors/
src/itk/Modules/Core/ImageFunction/
src/itk/Modules/Core/Mesh/
src/itk/Modules/Core/QuadEdgeMesh/
src/itk/Modules/Core/SpatialObjects/
src/itk/Modules/Core/TestKernel/
src/itk/Modules/Core/Transform/
src/itk/Modules/Filtering/AnisotropicSmoothing/
src/itk/Modules/Filtering/AntiAlias/
src/itk/Modules/Filtering/BiasCorrection/
src/itk/Modules/Filtering/BinaryMathematicalMorphology/
src/itk/Modules/Filtering/Colormap/
src/itk/Modules/Filtering/Convolution/
src/itk/Modules/Filtering/CurvatureFlow/
src/itk/Modules/Filtering/Deconvolution/
src/itk/Modules/Filtering/Denoising/
src/itk/Modules/Filtering/DiffusionTensorImage/
src/itk/Modules/Filtering/DisplacementField/
src/itk/Modules/Filtering/DistanceMap/
src/itk/Modules/Filtering/FFT/
src/itk/Modules/Filtering/FastMarching/
src/itk/Modules/Filtering/GPUAnisotropicSmoothing/
src/itk/Modules/Filtering/GPUImageFilterBase/
src/itk/Modules/Filtering/GPUSmoothing/
src/itk/Modules/Filtering/GPUThresholding/
src/itk/Modules/Filtering/ImageCompare/
src/itk/Modules/Filtering/ImageCompose/
src/itk/Modules/Filtering/ImageFeature/
src/itk/Modules/Filtering/ImageFilterBase/
src/itk/Modules/Filtering/ImageFusion/
src/itk/Modules/Filtering/ImageGradient/
src/itk/Modules/Filtering/ImageGrid/
src/itk/Modules/Filtering/ImageIntensity/
src/itk/Modules/Filtering/ImageLabel/
src/itk/Modules/Filtering/ImageNoise/
src/itk/Modules/Filtering/ImageSources/
src/itk/Modules/Filtering/ImageStatistics/
src/itk/Modules/Filtering/LabelMap/
src/itk/Modules/Filtering/MathematicalMorphology/
src/itk/Modules/Filtering/Path/
src/itk/Modules/Filtering/QuadEdgeMeshFiltering/
src/itk/Modules/Filtering/Smoothing/
src/itk/Modules/Filtering/SpatialFunction/
src/itk/Modules/Filtering/Thresholding/
src/itk/Modules/Numerics/Eigen/
src/itk/Modules/Numerics/FEM/
src/itk/Modules/Numerics/NarrowBand/
src/itk/Modules/Numerics/NeuralNetworks/
src/itk/Modules/Numerics/Optimizers/
src/itk/Modules/Numerics/Optimizersv4/
src/itk/Modules/Numerics/Polynomials/
src/itk/Modules/Numerics/Statistics/
src/itk/Modules/Registration/Common/
src/itk/Modules/Registration/FEM/
src/itk/Modules/Registration/GPUCommon/
src/itk/Modules/Registration/GPUPDEDeformable/
src/itk/Modules/Registration/Metricsv4/
src/itk/Modules/Registration/PDEDeformable/
src/itk/Modules/Registration/RegistrationMethodsv4/
src/itk/Modules/Segmentation/BioCell/
src/itk/Modules/Segmentation/Classifiers/
src/itk/Modules/Segmentation/ConnectedComponents/
src/itk/Modules/Segmentation/DeformableMesh/
src/itk/Modules/Segmentation/KLMRegionGrowing/
src/itk/Modules/Segmentation/LabelVoting/
src/itk/Modules/Segmentation/LevelSets/
src/itk/Modules/Segmentation/LevelSetsv4/
src/itk/Modules/Segmentation/LevelSetsv4Visualization/
src/itk/Modules/Segmentation/MarkovRandomFieldsClassifiers/
src/itk/Modules/Segmentation/RegionGrowing/
src/itk/Modules/Segmentation/SignedDistanceFunction/
src/itk/Modules/Segmentation/Voronoi/
src/itk/Modules/Segmentation/Watersheds/
src/itk/Modules/ThirdParty/.gitattributes
src/itk/Modules/ThirdParty/DCMTK/
src/itk/Modules/ThirdParty/DICOMParser/
src/itk/Modules/ThirdParty/DoubleConversion/
src/itk/Modules/ThirdParty/Expat/
src/itk/Modules/ThirdParty/GDCM/
src/itk/Modules/ThirdParty/GIFTI/
src/itk/Modules/ThirdParty/HDF5/
src/itk/Modules/ThirdParty/JPEG/
src/itk/Modules/ThirdParty/KWSys/
src/itk/Modules/ThirdParty/MetaIO/
src/itk/Modules/ThirdParty/NIFTI/
src/itk/Modules/ThirdParty/Netlib/
src/itk/Modules/ThirdParty/NrrdIO/
src/itk/Modules/ThirdParty/OpenJPEG/
src/itk/Modules/ThirdParty/PNG/
src/itk/Modules/ThirdParty/TIFF/
src/itk/Modules/ThirdParty/VNL/
src/itk/Modules/ThirdParty/VNLInstantiation/
src/itk/Modules/ThirdParty/ZLIB/
src/itk/Modules/ThirdParty/pygccxml/
src/itk/Modules/ThirdParty/vsl_vector_io+vcl_vector+vnl_vector_fixed+unsigned_short.2---.cxx
